.SearchInput {
  &-form {
    display: grid;
    margin-left: 20px;
  }
  &-inputContainer {
    height: 47px;
    font-family: sans-serif;
    font-size: 14px;
  }
  &-input {
    height: 100%;
    width: 428px;
    border: 0;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
  }
  &-submit {
    height: 100%;
    padding: 0 46px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    font-weight: 700;
    letter-spacing: -0.03rem;
    background-position: center;
    transition: background 0.8s;
    &:hover {
      background: rgb(253, 39, 39) radial-gradient(circle, transparent 1%, #9c2c18 1%)
        center/15000%;
    }
    &:active {
      background-color: hsl(10, 70%, 40%);
      background-size: 100%;
      transition: background 0s;
    }
  }
  &-label {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.03rem;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {
  .SearchInput {
    &-inputContainer {
      height: 30px;
    }
    &-input {
      width: 200px;
    }
    &-submit {
      padding: 0 20px;
    }
  }
}

@media (max-width: 600px) {
  .SearchInput {
    &-label {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }
}
