* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.AppFrame {
  display: grid;
  grid-template-columns: 1fr minmax(80vw, 1000px) 1fr;
  &-content {
    grid-column: 2;
    grid-gap: 10px;
  }
}
