* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.AppFrame {
  display: grid;
  grid-template-columns: 1fr minmax(80vw, 1000px) 1fr;
  &-content {
    grid-column: 2;
    grid-gap: 10px;
  }
  &-error {
    margin-left: 5px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: red;
  }
}
